<div class="page-wrapper">



  <app-front-header [headerClass]="'header-style-four'"></app-front-header>

  <!--End Page Title-->

  <section class="page-title" style="background-image: url(assets/front/newdeal/images/background/12.jpg);">
    <div class="auto-container">

      <span class="title_divider"></span>
      <ul class="page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </section>

  <!-- Services Section Three -->
  <section class="services-section style-two">
    <div class="auto-container">
      <div class="row">
        <!-- Text column -->
        <div class="text-column col-lg-5 col-md-12 col-sm-12 order-2">
          <div class="inner-column">
            <div class="sec-title">
              <span class="sub-title">innovations</span>
              <h3>Helping Businesses <br>Around The World</h3>
              <div class="text"><strong>To meet today's challenges, we've created a unique fund management
                system</strong></div>
            </div>
            <p>Deals Rooms is a global online investment platform that allows qualifying investors to invest in
              financial innovation including FinTech (Financial Technology) companies, funds and other new alternative
              products.</p>
            <a href="#" class="theme-btn icon-btn-two"><span>Read More</span></a>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-7 col-md-12 col-sm-12"
             style="background-image: url(assets/front/newdeal/images/background/11.jpg);"></div>
      </div>

      <div class="services-area">
        <div class="row">
          <!-- Feature Block Three -->
          <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-clock-1"></span>
                <h4>Mission</h4>
                <p>Deals Rooms is a global online investment platform</p>
              </div>
            </div>
          </div>

          <!-- Feature Block Three -->
          <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-whiteboard"></span>
                <h4>Vision</h4>
                <p>Deals Rooms is a global online investment platform</p>
              </div>
            </div>
          </div>

          <!-- Feature Block Three -->
          <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-print-1"></span>
                <h4>Meet our team</h4>
                <p>Deals Rooms is a global online investment platform</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Services Section -->

  <!-- Get Started -->
  <section class="get-started" style="background-image: url(assets/front/newdeal/images/background/12.png);">
    <div class="auto-container">
      <div class="row">
        <div class="column col-lg-6 col-md-12">
          <div class="inner-column">
            <div class="sec-title">
              <h3>Let’s Get Started</h3>
              <div class="text">Deals Rooms is a global online investment platform that allows qualifying investors to
                invest in financial innovation including FinTech (Financial Technology) companies, funds and other new
                alternative products.
              </div>
            </div>

            <!--Accordian Box-->
            <ul class="accordion-box style-two light">
              <!--Block-->
              <li class="accordion block">
                <div class="acc-btn"><span class="icon fa fa-plus"></span> Deals Rooms is a global online investment
                  platform
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">We believe that the future of finance looks very different to how it looks today
                      and we offer qualifying investors the opportunity to invest in the companies and products that are
                      building the future.
                    </div>
                  </div>
                </div>
              </li>

              <!--Block-->
              <li class="accordion block">
                <div class="acc-btn"><span class="icon fa fa-plus"></span> Deals Rooms is a global online investment
                  platform
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">We believe that the future of finance looks very different to how it looks today
                      and we offer qualifying investors the opportunity to invest in the companies and products that are
                      building the future.
                    </div>
                  </div>
                </div>
              </li>

              <!--Block-->
              <li class="accordion block active-block">
                <div class="acc-btn active"><span class="icon fa fa-plus"></span> Deals Rooms is a global online
                  investment platform
                </div>
                <div class="acc-content current">
                  <div class="content">
                    <div class="text">We believe that the future of finance looks very different to how it looks today
                      and we offer qualifying investors the opportunity to invest in the companies and products that are
                      building the future.
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Get Started -->

  <!-- Features Section Two -->

  <!-- End Features Section Two -->

  <!-- News Section -->

  <!--End News Section -->

  <!-- Call to Action -->

  <section class="call-to-action" style="background-image: url(assets/front/newdeal/images/background/4.jpg);">
    <div class="auto-container">
      <div class="content">
        <div class="sec-title-two">
          <span class="icon flaticon-question-1"></span>
          <h3>We’re Here To Help</h3>
          <div class="text">Power your dream with DealRooms</div>
        </div>

        <div class="btn-box">
          <a href="#" class="theme-btn icon-btn-two"><span>Get help here</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Call to Action -->

  <!-- Main Footer -->
  <app-front-footer></app-front-footer>
  <!-- End Main Footer -->

</div>
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-arrow-up"></span></div>
