<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card">
    <div class="card-block">

      <div class="ex-page-content text-center">
        <h1 class="">403! <i class="fa fa-exclamation-triangle"></i></h1>
        <h4 class="">Sorry, forbidden.</h4><br>

        <a class="btn btn-secondary mb-5 text-white waves-effect waves-light" (click)="relogin()"><i class="mdi mdi-home"></i>Login Again</a>
      </div>

    </div>
  </div>

  <div class="m-t-40 text-center">
    <!--<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>-->
    <p>CHI Travel Insurance Portal. Crafted with <i class="mdi mdi-heart text-danger"></i> by Zojatech</p>
  </div>

</div>
