<!-- Loader -->

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card" *ngIf="!recovery && !username">
    <div class="card-header" style="background-color: #333333">
      <h3 class="text-center m-0">
        <a routerLink="" class="logo logo-admin"><img src="assets/front/img/app_logo.png" height="30" alt="logo"></a>
      </h3>
    </div>

    <div class="card-body">



      <div class="p-3">
        <h4 class="text-muted font-18 mb-3 text-center">Forgot Password</h4>
        <div class="alert text-light" role="alert" style="background-color: rgb(75,112,142)">
          {{resetInfo}}!
        </div>

        <form class="form-horizontal m-t-30" (ngSubmit)="resetMail()" [formGroup]="resetEmailForm">

          <div class="form-group">
            <label for="useremail">Email<span class="required"
                                              *ngIf="hasRequiredField(resetEmailForm.get('email'))">*</span></label>
            <input type="email" class="form-control" id="useremail" placeholder="Enter email" formControlName="email">
          </div>

          <div class="form-group row m-t-20">
            <div class="col-12">
              <button type="button" (click)="goBack()" class="btn pull-left btn-secondary  text-white waves-effect"><i class="fa fa-long-arrow-left"></i>
                Go Back
              </button>

              <button type="submit" class="btn waves-effect waves-light pull-right"
                      [disabled]="resetEmailForm.invalid || loaders?.processing"
                      [ngClass]="setValidationClass(resetEmailForm.valid)"><span *ngIf="!loaders?.processing">Request Change</span><span *ngIf="loaders?.processing">Requesting..</span>&nbsp;
                <i class="spinner" *ngIf="loaders?.processing"></i>
              </button>
            </div>
          </div>

        </form>


      </div>

    </div>
  </div>
  <div class="card" *ngIf="!recovery && username">
    <div class="card-body">

      <h3 class="text-center m-0">
        <a href="index.html" class="logo logo-admin"><img src="assets/images/logo_dark.png" height="30" alt="logo"></a>
      </h3>

      <div class="p-3">
        <h4 class="text-muted font-18 mb-3 text-center">Reset Password</h4>
        <div class="alert bg-info text-light" role="alert">
          {{resetInfo}}!
        </div>

        <form class="form-horizontal m-t-30" (ngSubmit)="resetMail()" [formGroup]="resetEmailForm">

          <div class="form-group">
            <label for="useremail">Email<span class="required"
                                              *ngIf="hasRequiredField(resetEmailForm.get('email'))">*</span></label>
            <input type="email" class="form-control" id="useremail" placeholder="Enter email" formControlName="email">
          </div>

          <div class="form-group row m-t-20">
            <div class="col-12 text-right">
              <button type="submit" class="btn waves-effect waves-light"
                      [disabled]="resetEmailForm.invalid || loaders?.processing"
                      [ngClass]="setValidationClass(resetEmailForm.valid)"><span *ngIf="!loaders?.processing">Reset</span><span *ngIf="loaders?.processing">Resetting..</span>&nbsp;
                <i class="spinner" *ngIf="loaders?.processing"></i>
              </button>
            </div>
          </div>

        </form>

        <button type="button" (click)="goBack()" class="btn btn-secondary  text-white waves-effect"><i class="fa fa-long-arrow-left"></i>
          Go Back
        </button>
      </div>

    </div>
  </div>
  <div class="card" *ngIf="recovery && !username">
    <div class="card-body">

      <h3 class="text-center m-0">
        <a routerLink="" class="logo logo-admin"><img src="assets/front/img/app_logo.png" height="30" alt="logo"></a>

      </h3>

      <div class="p-3">
        <h4 class="text-muted font-18 mb-3 text-center">Reset Password</h4>
        <div class="alert bg-info text-light" role="alert">
          {{resetInfo}}!
        </div>

        <form class="form-horizontal m-t-30" (ngSubmit)="resetMail()" [formGroup]="resetEmailForm">

          <div class="form-group">
            <label for="useremail">Email<span class="required"
                                              *ngIf="hasRequiredField(resetEmailForm.get('email'))">*</span></label>
            <input type="email" class="form-control" id="useremail" placeholder="Enter email" formControlName="email">
          </div>

          <div class="form-group row m-t-20">
            <div class="col-12 text-right">
              <button type="submit" class="btn waves-effect waves-light"
                      [disabled]="resetEmailForm.invalid || loaders?.processing"
                      [ngClass]="setValidationClass(resetEmailForm.valid)"><span *ngIf="!loaders?.processing">Reset</span><span *ngIf="loaders?.processing">Resetting..</span>&nbsp;
                <i class="spinner" *ngIf="loaders?.processing"></i>
              </button>
            </div>
          </div>

        </form>

        <button type="button" (click)="goBack()" class="btn btn-secondary  text-white waves-effect"><i class="fa fa-long-arrow-left"></i>
          Go Back
        </button>
      </div>

    </div>
  </div>

  <div class="m-t-40 text-center">
    <!--<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>-->
    <p>© {{year}} DealRooms </p>
  </div>

</div>
