<div class="page-wrapper">


  <app-front-header [headerClass]="'header-style-four'"></app-front-header>
  <!--Page Title-->
  <section class="page-title" style="background-image: url(assets/front/newdeal/images/background/12.jpg);">
    <div class="auto-container">

      <span class="title_divider"></span>
      <ul class="page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>How It Works</li>
      </ul>
    </div>
  </section>
  <!--End Page Title-->

  <!-- Services Section Three -->
  <section class="process-section-two">
    <div class="auto-container">
      <div class="row">
        <!-- Process BLock -->
        <div class="process-block-two col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-pen"></span>
              <span class="count">1</span>
              <span class="roadmap-divider"></span>
            </div>

            <div class="text">
              <li>Sign-up and request DealRooms Membership</li>
              <br>
              <li>Get confirmation of membership after vetting process</li>
            </div>
          </div>
        </div>

        <!-- Process BLock -->
        <div class="process-block-two col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-print"></span>
              <span class="count">2</span>
              <span class="roadmap-divider"></span>
            </div>

            <div class="text">
              <li>Submit transaction brief</li>
              <br>
              <li>Brief reviewed by Deal Runner</li>
              <br>
              <li>Deal Runner circulates briefs to target Financiers/Partners</li>
            </div>
          </div>
        </div>

        <!-- Process BLock -->
        <div class="process-block-two col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-picture"></span>
              <span class="count">3</span>
              <span class="roadmap-divider"></span>
            </div>

            <div class="text">
              <li>Financier provides feedback on brief</li>
              <br>
              <li>All parties engagements: Physical/Virtual meetings</li>
              <br>
              <li>Negotiations</li>
            </div>
          </div>
        </div>

        <!-- Process BLock -->
        <div class="process-block-two col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box active">
            <div class="icon-box">
              <span class="icon flaticon-mask"></span>
              <span class="count title_ff"><span class="flaticon-check"></span></span>
            </div>

            <div class="text">
              <li>Signing of agreements</li>
              <br>
              <li>Deal closure</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Get Started -->

  <!-- Features Section Two -->

  <!-- End Features Section Two -->

  <!-- News Section -->

  <!--End News Section -->

  <!-- Call to Action -->
  <section class="call-to-action" style="background-image: url(assets/front/newdeal/images/background/4.jpg);">
    <div class="auto-container">
      <div class="content">
        <div class="sec-title-two">
          <span class="icon flaticon-question-1"></span>
          <h3>We’re Here To Help</h3>
          <div class="text">Power your dream with DealRooms</div>
        </div>

        <div class="btn-box">
          <a href="#" class="theme-btn icon-btn-two"><span>Get help here</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Call to Action -->

  <!-- Main Footer -->
  <app-front-footer></app-front-footer>
  <!-- End Main Footer -->

</div>
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-arrow-up"></span></div>
