
<div class="page-wrapper">


  <app-front-header [headerClass]="'header-style-four'"></app-front-header>
<!--Page Title-->
<section class="page-title" style="background-image: url(assets/front/newdeal/images/background/12.jpg);">
  <div class="auto-container">

    <span class="title_divider"></span>
    <ul class="page-breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li>Deal Gallery</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!-- Services Section Three -->
<section class="news-section">
  <div class="auto-container">
    <div class="sec-title text-center">

      <h3>Investment Opportunities</h3>
      <br>

      <app-public-opportunities></app-public-opportunities>
    </div>
  </div>
</section>
<!-- End Get Started -->

<!-- Features Section Two -->

<!-- End Features Section Two -->

<!-- News Section -->

<!--End News Section -->

<!-- Call to Action -->
<section class="call-to-action" style="background-image: url(assets/front/newdeal/images/background/4.jpg);">
  <div class="auto-container">
    <div class="content">
      <div class="sec-title-two">
        <span class="icon flaticon-question-1"></span>
        <h3>We’re Here To Help</h3>
        <div class="text">Power your dream with DealRooms</div>
      </div>

      <div class="btn-box">
        <a href="#" class="theme-btn icon-btn-two"><span>Get help here</span></a>
      </div>
    </div>
  </div>
</section>
<!-- End Call to Action -->



  <!-- Main Footer -->
  <app-front-footer></app-front-footer>
  <!-- End Main Footer -->

</div>
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-arrow-up"></span></div>
