



<div class="header-bg top-white">
  <div class="mr-5 ml-4">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">


          <h4 class="page-title no_button"><i class="dripicons-list"></i>Deals Timeline</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
  </div>
</div>


<div class="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="cardx m-b-20">
          <div class="card-bodyx">

            <section id="cd-timeline" class="cd-container">
              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-success">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Pending Approval</h3>
                  <p class="mb-0 text-muted">
                    Content Here
                  </p>
                  <span class="cd-date">Stage 0</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-danger">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Awaiting Interest</h3>
                  <p class="m-b-20 text-muted">
                    Content Here
                  </p>
                  <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light m-t-5">See more detail</button>

                  <span class="cd-date">Stage 1</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-info">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Enable Access</h3>
                  <p class="mb-0 text-muted">
                    Content Here
                    <a href="#"></a></p>
                  <span class="cd-date">Stage 2</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-pink">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Processing Deal</h3>
                  <p class="m-b-20 text-muted">
                    Content Here
                  </p>
                  <img src="assets/images/small/img-1.jpg" alt="" class="rounded" width="120">
                  <img src="assets/images/small/img-2.jpg" alt="" class="rounded" width="120">
                  <span class="cd-date">Stage 3</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-warning">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Awaiting Handshake</h3>
                  <p class="m-b-20 text-muted">
                    Content Here
                  </p>
                  <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light">See more detail</button>
                  <span class="cd-date">Stage 4</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img bg-primary">
                  <i class="mdi mdi-adjust"></i>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h3>Deal Completed</h3>
                  <p class="mb-0 text-muted">
                    Content Here
                  </p>
                  <span class="cd-date">Stage 5</span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->
            </section> <!-- cd-timeline -->

          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div> <!-- end container -->
</div>
<!-- end wrapper -->
