<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card">
    <h3 class="text-center m-0">
      <a routerLink="" class="logo logo-admin"><img src="assets/front/img/app_logo.png" height="30" alt="logo"></a>
    </h3>
    <div class="card-body">


      <div class="pt-3">
        <h6><i class="mdi mdi-information text-info"></i> Please Enter and Re-enter your new password</h6>
        <div class="clearfix"></div>
        <div class="row ">
          <div class="col-md-12">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
              <div class="form-group">
                <label for="pass">New Password</label>
                <input type="password" id="pass" class="form-control" name="pass"
                       formControlName="password" required>
                <div
                  *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').dirty) || passwordForm.get('password').touched"
                  class="form-error text-danger">
                  <div *ngIf="passwordForm.get('password').errors?.required">
                    Password is required
                  </div>
                  <div *ngIf="passwordForm.get('password').errors?.minlength">
                    Password should not be less than 8 characters
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPass">Confirm New Password</label>
                <input type="password" id="confirmPass" class="form-control" name="confirm_password"
                       formControlName="confirm_password" required>
                <div
                  *ngIf="passwordForm.get('confirm_password').invalid && (passwordForm.get('confirm_password').dirty) || passwordForm.get('confirm_password').touched"
                  class="form-error text-danger">
                  <div *ngIf="passwordForm.get('confirm_password').errors?.required">
                    Confirmation is required
                  </div>
                  <div *ngIf="passwordForm.get('confirm_password').errors?.minlength">
                    Confirmation should not be less than 8 characters
                  </div>
                </div>
              </div>




                <button class="btn waves-effect pull-right"
                        *ngIf="linkIsValid"
                        [disabled]="passwordForm?.invalid || loaders?.processing || !passwordsAreSame()"
                        [ngClass]="setValidationClass(passwordForm?.valid && (passwordsAreSame()))">Save changes
                  <i class="spinner" style="left: 7%;" *ngIf="loaders?.processing"></i>
                </button>


            </form>

            <button type="button" (click)="goBack()" class="btn btn-secondary  text-white waves-effect"><i class="fa fa-long-arrow-left"></i>
              Go Back
            </button>


          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="m-t-40 text-center">
    <!--<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>-->
    <p>© {{year}} DealRooms </p>

  </div>

</div>



