<div class="header-bg top-white">
  <div class="ml-4 mr-5">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">

          <!--<form class="float-right app-searchx">-->

          <!--<button class="btn btn-light btn text-dark" type="button"-->
          <!--(click)="openOverlay('create_deal_overlay')" [disabled]="openingOverlay"-->
          <!--*ngIf="userActivities?.create">-->
          <!--<i class="dripicons-plus" *ngIf="!openingOverlay"></i>-->
          <!--<i class="fa fa-cog fa-spin" *ngIf="openingOverlay"></i> Create Deal-->
          <!--</button>-->
          <!--</form>-->
          <!--<app-search-filter></app-search-filter>-->
          <h4 class="page-title no_button"><i class="dripicons-view-thumb"></i> Opportunities</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
  </div>
</div>

<div class="wrapper">
  <div class="m-2">

    <app-opportunities></app-opportunities>

  </div> <!-- end container -->
</div>
